USE [MyErp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[EmployeeTypeId] [int] NULL,
	[ManagerId] [nvarchar](450) NULL,
	[GanderId] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactNewTable]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactNewTable](
	[Id] [nvarchar](1) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](1) NULL,
	[Comments] [nvarchar](50) NOT NULL,
	[column8] [nvarchar](100) NOT NULL,
	[CrmCompanyId] [int] NOT NULL,
	[CreatedAt] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[UpdatedAt] [nvarchar](50) NOT NULL,
	[UpdatedBy] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrmCompanies]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrmCompanies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[CompanyEmail] [nvarchar](max) NULL,
	[CompanyPhone] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_CrmCompanies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrmContacts]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrmContacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Designation] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[CrmCompanyId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_CrmContacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTalble]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTalble](
	[ID] [nvarchar](1) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1) NULL,
	[CompanyAddress] [nvarchar](1) NULL,
	[CompanyEmail] [nvarchar](1) NULL,
	[CompanyPhone] [nvarchar](1) NULL,
	[ContactPerson] [nvarchar](1) NULL,
	[ContactPersonEmail] [nvarchar](1) NULL,
	[ContactPersonPhone] [nvarchar](1) NULL,
	[CreatedAt] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[Designation] [nvarchar](1) NULL,
	[UpdatedAt] [nvarchar](50) NOT NULL,
	[UpdatedBy] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domains]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domains](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [nvarchar](max) NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
	[Hosting] [nvarchar](max) NULL,
	[DomainRegistrant] [nvarchar](max) NULL,
	[RegistarDate] [datetime2](7) NULL,
	[ForYear] [int] NULL,
	[ExpireDate] [datetime2](7) NULL,
	[Dns] [nvarchar](max) NULL,
	[Analytics] [nvarchar](max) NULL,
	[CompanyId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[LastUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Domains] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTypes]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EmployeeTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CrmCompanyId] [int] NOT NULL,
 CONSTRAINT [PK_Leads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveAllocations]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveAllocations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [nvarchar](450) NULL,
	[Sick] [int] NULL,
	[Casual] [int] NULL,
	[Earned] [int] NULL,
	[CarryForward] [int] NULL,
	[Maternity] [int] NULL,
	[Paternity] [int] NULL,
	[Pilgrimage] [int] NULL,
	[Compensation] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_LeaveAllocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveEntitlements]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveEntitlements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[DaysPerYer] [int] NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
 CONSTRAINT [PK_LeaveEntitlements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [nvarchar](450) NOT NULL,
	[LeaveType] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Days] [int] NOT NULL,
	[LeaveStauts] [nvarchar](max) NOT NULL,
	[ManagerId] [nvarchar](max) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[DecidedDate] [datetime2](7) NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[ManagerEmail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsEarned] [bit] NOT NULL,
	[CarryForwardLimit] [int] NOT NULL,
 CONSTRAINT [PK_LeaveTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainCategories]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MainCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeopleProjects]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeopleProjects](
	[PeopleId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_PeopleProjects] PRIMARY KEY CLUSTERED 
(
	[PeopleId] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peoples]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peoples](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Peoples] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PostCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategoryPosts]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategoryPosts](
	[CategoryId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_PostCategoryPosts] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMainCategories]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMainCategories](
	[ProductId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_ProductMainCategories] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Advanced] [decimal](18, 2) NULL,
	[Comments] [nvarchar](max) NULL,
	[DemoStartDate] [date] NULL,
	[ProjectDays] [int] NULL,
	[ProjectDeliveryDate] [date] NULL,
	[ProjectDetails] [nvarchar](max) NULL,
	[ProjectValue] [decimal](18, 2) NULL,
	[WorkOrderDate] [date] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 9/25/2025 5:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PhoneNumberOne] [nvarchar](max) NULL,
	[PhoneNumberTwo] [nvarchar](max) NULL,
	[AddressOne] [nvarchar](max) NULL,
	[AddressTwo] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250707165351_Initial', N'8.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250711143448_UserDetailsTbl', N'8.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250730094431_MainCategory', N'8.0.17')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'20aaaa93-a547-4ff8-a0ab-a5eeb86900c5', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'80882faf-ad26-4278-bc19-c9c45b020c19', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'890faadf-cbde-41e1-91e5-7cd723ff50eb', N'Employee', N'EMPLOYEE', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ce56dffa-15e9-477c-9c40-d0b1f897d742', N'20aaaa93-a547-4ff8-a0ab-a5eeb86900c5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'241fe2a1-39f5-4191-ba18-4cca5393134e', N'80882faf-ad26-4278-bc19-c9c45b020c19')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'25a09ec4-1f26-41ad-8827-b16fa645af9a', N'80882faf-ad26-4278-bc19-c9c45b020c19')
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([ID], [Name], [Description]) VALUES (1, N'aamra Infotainment ltd', N'aamra Infotainment ltd')
INSERT [dbo].[Companies] ([ID], [Name], [Description]) VALUES (2, N'aamra Networks Ltd', N'aamra Networks Ltd')
INSERT [dbo].[Companies] ([ID], [Name], [Description]) VALUES (3, N'aamra Resources Ltd', N'aamra Resources Ltd')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
INSERT [dbo].[ContactNewTable] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [column8], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'Nahid Hossain', N'IT Officer', N'no@yahoo.com', N'+8801738113386', NULL, N'No Comments Available ', N'A & W', 1, N'0001-01-01 00:00:00.0000000', N'System', N'0001-01-01 00:00:00.0000000', N'System')
INSERT [dbo].[ContactNewTable] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [column8], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'Abu Boker Siddique Chowdhury (Tamzid)', N'Senior Vice President', N'tamzid1@aplusbd.com', N'+8801819212033', NULL, N'No Comments Available ', N'A Plus Industry', 2, N'0001-01-01 00:00:00.0000000', N'System', N'0001-01-01 00:00:00.0000000', N'System')
INSERT [dbo].[ContactNewTable] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [column8], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'Md. Ishak (Mintu)', N'Senior Principle Officer, IT', N'minto@aplusbd.com', N'+8801673490399', NULL, N'No Comments Available ', N'A Plus Industry', 2, N'0001-01-01 00:00:00.0000000', N'System', N'0001-01-01 00:00:00.0000000', N'System')
GO
SET IDENTITY_INSERT [dbo].[CrmCompanies] ON 

INSERT [dbo].[CrmCompanies] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'A & W', NULL, NULL, N'', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System')
INSERT [dbo].[CrmCompanies] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'A Plus Industry', NULL, NULL, N'', NULL, CAST(N'0001-01-01T00:00:00.0000001' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000001' AS DateTime2), N'System')
INSERT [dbo].[CrmCompanies] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'A. I. Freight Services', NULL, NULL, N'', NULL, CAST(N'0001-01-01T00:00:00.0000002' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000002' AS DateTime2), N'System')
GO
SET IDENTITY_INSERT [dbo].[CrmCompanies] OFF
GO
SET IDENTITY_INSERT [dbo].[CrmContacts] ON 

INSERT [dbo].[CrmContacts] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Nahid Hossain', N'IT Officer', N'no@yahoo.com', N'+8801738113386', NULL, N'No Comments Available ', 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System')
INSERT [dbo].[CrmContacts] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Abu Boker Siddique Chowdhury (Tamzid)', N'Senior Vice President', N'tamzid1@aplusbd.com', N'+8801819212033', NULL, N'No Comments Available ', 2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System')
INSERT [dbo].[CrmContacts] ([Id], [Name], [Designation], [Email], [Phone], [Photo], [Comments], [CrmCompanyId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Md. Ishak (Mintu)', N'Senior Principle Officer, IT', N'minto@aplusbd.com', N'+8801673490399', NULL, N'No Comments Available ', 2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'System')
GO
SET IDENTITY_INSERT [dbo].[CrmContacts] OFF
GO
INSERT [dbo].[CustomerTalble] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [ContactPerson], [ContactPersonEmail], [ContactPersonPhone], [CreatedAt], [CreatedBy], [Designation], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'A & W', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0001-01-01 00:00:00.0000000', N'System', NULL, N'0001-01-01 00:00:00.0000000', N'System')
INSERT [dbo].[CustomerTalble] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [ContactPerson], [ContactPersonEmail], [ContactPersonPhone], [CreatedAt], [CreatedBy], [Designation], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'A Plus Industry', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0001-01-01 00:00:00.0000001', N'System', NULL, N'0001-01-01 00:00:00.0000001', N'System')
INSERT [dbo].[CustomerTalble] ([ID], [Name], [Description], [CompanyAddress], [CompanyEmail], [CompanyPhone], [ContactPerson], [ContactPersonEmail], [ContactPersonPhone], [CreatedAt], [CreatedBy], [Designation], [UpdatedAt], [UpdatedBy]) VALUES (NULL, N'A. I. Freight Services', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0001-01-01 00:00:00.0000002', N'System', NULL, N'0001-01-01 00:00:00.0000002', N'System')
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Sales', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Departments] ([ID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Web Solutions', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Departments] ([ID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Credit Control', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([DesignationID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Executive', N'Executive', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Designations] ([DesignationID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Senior Executive ', N'Senior Executive ', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Designations] ([DesignationID], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Assistant Manager', N'Assistant Manager', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Designations] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveAllocations] ON 

INSERT [dbo].[LeaveAllocations] ([ID], [EmpId], [Sick], [Casual], [Earned], [CarryForward], [Maternity], [Paternity], [Pilgrimage], [Compensation], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, N'241fe2a1-39f5-4191-ba18-4cca5393134e', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), N'system', N'system')
INSERT [dbo].[LeaveAllocations] ([ID], [EmpId], [Sick], [Casual], [Earned], [CarryForward], [Maternity], [Paternity], [Pilgrimage], [Compensation], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (4, N'25a09ec4-1f26-41ad-8827-b16fa645af9a', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), N'system', N'system')
INSERT [dbo].[LeaveAllocations] ([ID], [EmpId], [Sick], [Casual], [Earned], [CarryForward], [Maternity], [Paternity], [Pilgrimage], [Compensation], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (7, N'4ee447f7-e5d6-46c0-980b-7fc910507deb', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), CAST(N'2025-09-16T13:13:51.5200000' AS DateTime2), N'system', N'system')
SET IDENTITY_INSERT [dbo].[LeaveAllocations] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[MainCategories] ON 

INSERT [dbo].[MainCategories] ([ID], [CategoryName], [Description]) VALUES (1, N'Electronics', NULL)
INSERT [dbo].[MainCategories] ([ID], [CategoryName], [Description]) VALUES (2, N'Hard Disk', NULL)
INSERT [dbo].[MainCategories] ([ID], [CategoryName], [Description]) VALUES (3, N'Computer', NULL)
SET IDENTITY_INSERT [dbo].[MainCategories] OFF
GO
INSERT [dbo].[PeopleProjects] ([PeopleId], [ProjectId], [Id]) VALUES (5, 1, 0)
INSERT [dbo].[PeopleProjects] ([PeopleId], [ProjectId], [Id]) VALUES (6, 1, 0)
INSERT [dbo].[PeopleProjects] ([PeopleId], [ProjectId], [Id]) VALUES (6, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[Peoples] ON 

INSERT [dbo].[Peoples] ([Id], [Name], [Description]) VALUES (5, N'Admin Ahmed Khan', NULL)
INSERT [dbo].[Peoples] ([Id], [Name], [Description]) VALUES (6, N'Abdur Rahman', NULL)
INSERT [dbo].[Peoples] ([Id], [Name], [Description]) VALUES (7, N'Shahanara Aktar', NULL)
SET IDENTITY_INSERT [dbo].[Peoples] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategories] ON 

INSERT [dbo].[PostCategories] ([ID], [Name], [Description]) VALUES (1, N'Sports', NULL)
INSERT [dbo].[PostCategories] ([ID], [Name], [Description]) VALUES (2, N'Entertainment', NULL)
SET IDENTITY_INSERT [dbo].[PostCategories] OFF
GO
INSERT [dbo].[ProductMainCategories] ([ProductId], [CategoryId], [Id]) VALUES (1, 1, 0)
INSERT [dbo].[ProductMainCategories] ([ProductId], [CategoryId], [Id]) VALUES (1, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Description]) VALUES (1, N'Intel Core i5', N'')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ID], [Name], [Advanced], [Comments], [DemoStartDate], [ProjectDays], [ProjectDeliveryDate], [ProjectDetails], [ProjectValue], [WorkOrderDate]) VALUES (1, N'Mimi Caffe', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Projects] ([ID], [Name], [Advanced], [Comments], [DemoStartDate], [ProjectDays], [ProjectDeliveryDate], [ProjectDetails], [ProjectValue], [WorkOrderDate]) VALUES (2, N'Mimi Hospital', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Projects] ([ID], [Name], [Advanced], [Comments], [DemoStartDate], [ProjectDays], [ProjectDeliveryDate], [ProjectDetails], [ProjectValue], [WorkOrderDate]) VALUES (3, N'Labaid Hospitals', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([Id], [UserId], [PhoneNumberOne], [PhoneNumberTwo], [AddressOne], [AddressTwo]) VALUES (1, N'ce56dffa-15e9-477c-9c40-d0b1f897d742', N'01913656864', NULL, N'Dhaka', N'Dhaka')
INSERT [dbo].[UserDetails] ([Id], [UserId], [PhoneNumberOne], [PhoneNumberTwo], [AddressOne], [AddressTwo]) VALUES (2, N'241fe2a1-39f5-4191-ba18-4cca5393134e', N'01913656864', NULL, N'Dhaka', N'Dhaka')
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CrmCompanies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CrmCompanies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CrmContacts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CrmContacts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Designations] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Designations] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT ((0)) FOR [CrmCompanyId]
GO
ALTER TABLE [dbo].[LeaveEntitlements] ADD  DEFAULT ((0)) FOR [EmployeeTypeId]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (N'') FOR [ManagerEmail]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_ManagerId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([ID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Companies_CompanyId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([DesignationID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Designations_DesignationId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_EmployeeTypes_EmployeeTypeId] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeTypes] ([ID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_EmployeeTypes_EmployeeTypeId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CrmContacts]  WITH CHECK ADD  CONSTRAINT [FK_CrmContacts_CrmCompanies_CrmCompanyId] FOREIGN KEY([CrmCompanyId])
REFERENCES [dbo].[CrmCompanies] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CrmContacts] CHECK CONSTRAINT [FK_CrmContacts_CrmCompanies_CrmCompanyId]
GO
ALTER TABLE [dbo].[Domains]  WITH CHECK ADD  CONSTRAINT [FK_Domains_CrmCompanies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CrmCompanies] ([ID])
GO
ALTER TABLE [dbo].[Domains] CHECK CONSTRAINT [FK_Domains_CrmCompanies_CompanyId]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_CrmCompanies_CrmCompanyId] FOREIGN KEY([CrmCompanyId])
REFERENCES [dbo].[CrmCompanies] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_CrmCompanies_CrmCompanyId]
GO
ALTER TABLE [dbo].[LeaveAllocations]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAllocations_AspNetUsers_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveAllocations] CHECK CONSTRAINT [FK_LeaveAllocations_AspNetUsers_EmpId]
GO
ALTER TABLE [dbo].[LeaveEntitlements]  WITH CHECK ADD  CONSTRAINT [FK_LeaveEntitlements_EmployeeTypes_EmployeeTypeId] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveEntitlements] CHECK CONSTRAINT [FK_LeaveEntitlements_EmployeeTypes_EmployeeTypeId]
GO
ALTER TABLE [dbo].[LeaveEntitlements]  WITH CHECK ADD  CONSTRAINT [FK_LeaveEntitlements_LeaveTypes_LeaveTypeId] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[LeaveTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveEntitlements] CHECK CONSTRAINT [FK_LeaveEntitlements_LeaveTypes_LeaveTypeId]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_AspNetUsers_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_AspNetUsers_EmpId]
GO
ALTER TABLE [dbo].[PeopleProjects]  WITH CHECK ADD  CONSTRAINT [FK_PeopleProjects_Peoples_PeopleId] FOREIGN KEY([PeopleId])
REFERENCES [dbo].[Peoples] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeopleProjects] CHECK CONSTRAINT [FK_PeopleProjects_Peoples_PeopleId]
GO
ALTER TABLE [dbo].[PeopleProjects]  WITH CHECK ADD  CONSTRAINT [FK_PeopleProjects_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeopleProjects] CHECK CONSTRAINT [FK_PeopleProjects_Projects_ProjectId]
GO
ALTER TABLE [dbo].[PostCategoryPosts]  WITH CHECK ADD  CONSTRAINT [FK_PostCategoryPosts_PostCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PostCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCategoryPosts] CHECK CONSTRAINT [FK_PostCategoryPosts_PostCategories_CategoryId]
GO
ALTER TABLE [dbo].[PostCategoryPosts]  WITH CHECK ADD  CONSTRAINT [FK_PostCategoryPosts_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCategoryPosts] CHECK CONSTRAINT [FK_PostCategoryPosts_Posts_PostId]
GO
ALTER TABLE [dbo].[ProductMainCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductMainCategories_MainCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[MainCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductMainCategories] CHECK CONSTRAINT [FK_ProductMainCategories_MainCategories_CategoryId]
GO
ALTER TABLE [dbo].[ProductMainCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductMainCategories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductMainCategories] CHECK CONSTRAINT [FK_ProductMainCategories_Products_ProductId]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_AspNetUsers_UserId]
GO
